<h1>ITC</h1>
<p> select virtual host </p>
  <div class="section">
  <div class="hider">
  <form action="#/itc_bd" method="put"> 
  <table class="form">
    <tr>
          <th><label>Virtual host:</label></th>
          <td>
            <select name="vhost">
              <% for (var i = 0; i < vhosts.length; i++) { %>
              <option value="<%= fmt_string(vhosts[i].name) %>"><%= fmt_string(vhosts[i].name) %></option>
              <% } %>
            </select>
          </td>
    </tr>
 
   </table>
  <input type="submit" value="Start ITC"/>
  </form>
 
  </div>
</div>
  <div class="section">
  <h2>Content of database</h2>
  <div class="hider">
  <table>
    <% if (itc_bd.length > 0) { %> 
      <table class="list">
        <thead>
            <tr>
              <th>ID</th>
              <th>Stamp</th>
              <th>Type</th>
              <th>Exchange</th>
              <th>Queue </th>
              <th>Node </th>
              <th>Connection </th>
              <th>Channel </th>
              <th>Vhost </th>
              <th>Username</th>
              <th>Routing key </th>
              <th> Properties</th>
              <th> Payload</th>
            </tr>
        </thead>
         <tbody>
              <%
                 for (var i = 0; i < itc_bd.length; i++) {
                     var rec = itc_bd[i];
              %>
               <td><%= fmt_string(rec[0]) %></td>
                <td><%= fmt_string(rec[rec.length-1]) %></td>
              <% for (var j = 1; j < rec.length-1 ; j++) {  %>
                <td><%= fmt_string(rec[j]) %></td>
    
              <% } %>   
             </tr>
             
              <% } %>
         </tbody>
        </table>
      <% } %>
  
  </table>
  </div>
</div>
    <div class="section">
  <h2>Causality tracking mechanism</h2>
  <div class="hider">
  <%if (itc_bd.length > 0) {  %> 
  <form action="#/itc_bd" method="put"> 
  <table class="form">
  <p >Input id of messages: </p>
    <tr>
      <th><label> From: </label></th>
      <td><input type="text" name ="from"/> </td>
  </tr>
  <tr>
      <th><label> To: </label></th>
      <td> <input type="text" name ="to"/>  </td>
  </tr>
  <tr>
      <th><label> File: </label></th>
      <td> <input type="text" name ="file"/>  </td>
  </tr>
   </table>
  <input type="submit" value="Find chain of events"/>
  </form>
  <% } %>
 
  </div>
</div>
